apiVersion: v1
kind: ReplicationController
metadata:
    name: my-replicas
spec:
    replicas: 4
    selector: 
     app: nginx
    template:
      metadata:
        labels:
          app: nginx 
      spec:
        containers:
          - name: my-replicas
            image: nginx 
            ports: 
              - containerPort: 80